.login {
  margin: 90px 0;
  text-align: center;
  color: #1976d2;
}
a{
    color: #fff;
    text-decoration: none;
  font-weight: 600;
}
.login a{
    color: #1976d2;
    text-decoration: none;
  font-weight: 600;
}
form {
  width: 95vw;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
input {
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.btn-login,
.btn-register 
{
  width: 60%;
  padding: 10px 20px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 720px) {
  form {
    width: 90%;
  }
  input {
    width: 100%;
  }
  .btn-login,
  .btn-register {
    width: 100%;
  } 
}

