.slider-container {
    height: calc(100vh - 20vh);
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slide-img img {
  width: 290px;
}
.slider
{
    height: 100%;
    transition: all 0.5s ease-in-out;
    display: flex;
}
.slid
{
    height: calc(100vh - 20vh);
    width: 100vw;
    display: flex;
    align-items: center;
    text-align: center;
}
.slide-img
{
    width: 50%;
}
.slide-info
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
}

.arrow-left,
.arrow-right
{
    width: 50px;
    height: 50px;
    background-color: #1976d28f;
    color: #fff;
    position: absolute;
    top: 0;
    bottom:0 ;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 111;
}
.arrow-left
{
    left: 10px;
}
.arrow-right
{
    right: 10px;
}


@media (max-width: 720px)
{
 .slider-container{
    display: none;
 }
}